@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");

#root {
  /* max-width: 1280px; */
  margin: 0 auto;

  text-align: center;
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bell-subtle-pulse {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.01125);
  }
}

@keyframes subtle-pulse {
  0%,
  100% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.00256);
  }
  50% {
    transform: scale(1.01125);
  }
  25% {
    transform: scale(1.04678);
  }
}

@keyframes coinflip {
  0% {
    transform: rotateY(0deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotateY(180deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotateY(360deg) translate3d(0, 0, 0);
  }
}
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
